.carousel {
  position: relative;
  margin-top: 40px;
}

.carousel-track-container {
  overflow: hidden;
  border-radius: 12px;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.carousel-track li {
  min-width: 100%;
}

.carousel-track img {
  width: 100%;
  height: 300px; /* ANTES: 420px */
  object-fit: cover;
  border-radius: 10px;
}


.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  font-size: 28px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.carousel-btn.prev {
  left: 15px;
}

.carousel-btn.next {
  right: 15px;
}

@media (max-width: 768px) {
  .carousel-track img {
    height: 220px;
  }
}
